@font-face {
  font-family: "PP Writer";
  src:
    url("./fonts/PP3/PPWriter-Thin.woff") format("woff"),
    url("./fonts/PP3/PPWriter-Thin.otf") format("opentype");
}

@font-face {
  font-family: "PPNeueMontreal";
  src:
    url("./fonts/PP3/PPNeueMontreal-Thin.woff") format("woff"),
    url("./fonts/PP3/PPNeueMontreal-Thin.otf") format("opentype");
}



::-webkit-scrollbar {
  display: none;
}

body {
  cursor: none;
  display: flex;
  margin: 0;
  justify-content: center;


}

html {
  font-family: 'PP';
  font-family: 'PP2';

  scroll-behavior: initial;

  overscroll-behavior: none;
  background-color: #000000;

}




main {
  scroll-behavior: initial;
  display: flex;
  justify-content: center;
  gap: 200px;
  position: fixed;
  width: 100%;
  height: fit-content;


}

.ver-ensaio {

  font-family: 'PP Writer';
  font-weight: lighter;
  margin-right: 0;
  font-size: 20px;
  width: fit-content;
  height: fit-content;
  position: relative;
  color: #e9e9e988;
  z-index: 19;
  transition: 0.2 ease;
}

.ver-ensaio:hover {
  font-size: 200%;
  color: #e9e9e9;
  transition: 0.2 ease;

}

.scrollable {
  position: absolute;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100%;
  will-change: transform;
}

.container {

  width: 95%;
  align-items: center;
  justify-content: center;
  gap: 40px;
  height: fit-content;

  display: flex;

  flex-direction: row-reverse;
  flex-wrap: wrap
}




.containerA {
  padding-top: 8vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 80px;
  height: fit-content;

  display: flex;

  flex-direction: row-reverse;
  flex-wrap: wrap
}



.cursor {
  left: 0;
  top: 0;
  background-color: #ffffff00;
  outline: 1px solid #616161;
  position: fixed;
  pointer-events: none;
  border-radius: 100px;
  transition: background-color 0.3s ease;
  mix-blend-mode: difference;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 0.3s ease, height 0.3s ease;
  /* Add transition property */
  width: 30px;
  height: 30px;

}



.cursor.active {
  width: 50px;
  height: 50px;
  outline: 1px solid #ffffff;
  pointer-events: none;

}

.cursor__follower {

  background-color: #ffffff00;
  outline: none;
  transition: transform .1s;

  width: 5px;
  height: 5px;
}

.image-container {
  mix-blend-mode: difference;
  position: relative;
  width: auto;
  height: auto;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {

  font-family: 'PPNeueMontreal';
  font-weight: 800;
  position: absolute;
  left: 0;
  top: 60%;
  left: 55%;
  mix-blend-mode: difference;
  color: #e9e9e9;
  font-size: 15px;
  letter-spacing: 1px;
}

.descriptionA {
  gap: 2%;
  font-family: 'PPNeueMontreal2';
  font-weight: 200;
  position: relative;
  width: 90%;
  height: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;

}

.description {

  gap: 5%;
  font-weight: lighter;
  position: relative;
  width: 90%;
  height: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}




.title {
  width: fit-content;
  text-align: start;
  width: fit-content;
  margin: 0;
  font-size: 5vw;
  position: relative;
  z-index: 1;
  color: #e9e9e9;

}



.title span {
  font-size: 30px;
  color: rgb(150, 150, 150);
}

.text {
  height: fit-content;
  text-align: center;
  width: 90%;
  font-family: 'PPNeueMontreal';
  font-weight: 200;
  position: relative;
  color: #e9e9e9;
  font-size: 1.2em;
}



.hero-section {
  color: #ffffff;
  letter-spacing: -1px;

  margin: 15vw;
  display: flex;
  width: 98%;
  height: fit-content;
  font-size: 45px;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}




.ChicaChicaChica {

  margin-top: 4vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: 100%;
  display: flex;
  margin: 0;

}

h2 {
  font-family: 'PPNeueMontreal';
  font-weight: 800;
  text-decoration: none;
  margin: 0;
  display: flex;
  height: fit-content;
  align-items: center;
  justify-content: center;


  font-size: 5vh;
  text-align: center;

  width: 100%;
  color: #ffffff;

}



.galerryimage {
  width: auto;
  height: fit-content;
  max-height: 50vw;
  min-height: 200px;
  transition: 0.5s;
  position: relative;

}

.galerryimageA {
  width: auto;
  height: fit-content;
  max-height: 50vw;
  min-height: 200px;
  transition: 0.5s;
  position: relative;

}






canvas {
  opacity: 1;
  position: fixed;
  z-index: -1;

}

.demo-1__title {
  position: absolute;
  fill: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
  top: 20%;
  width: 50%;
  height: 50%;
  user-select: none;
  pointer-events: none;
  position: fixed;
}

.favicon {
  mix-blend-mode: difference;
  position: relative;
  width: 5%;
  min-width: 150px;
  height: auto;
  fill: #ffffff;
  z-index: 18;

}



.demo-1__header {

  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  border-bottom: #3b3b3b 1px solid;
  z-index: 15;
  position: relative;
  height: fit-content;
}


.ph-instagram-logo {
  left: 20px;
  position: relative;
  font-size: 1.7em;
  width: 50px;
  color: #e9e9e9;
  mix-blend-mode: difference;
  z-index: 18;

}

a {

  color: #000000;
  text-decoration: none;
  transition: 0.3s;
}

.end {
  font-family: 'PPNeueMontreal';
  font-weight: 800;
  letter-spacing: normal;
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  cursor: none;

}


.menu-tog {
  mix-blend-mode: difference;
  position: relative;

  z-index: 1001;
  width: 70px;
  height: 50px;
  display: flex;
  flex-direction: column;
  cursor: none;
  gap: 20%;
  align-items: center;
  justify-content: center;


}

.hero {
  width: 50%;
  align-items: center;
  justify-content: center;
  position: relative;


}




.menu-tog span {
  position: relative;
  width: 65%;
  height: 2px;
  background-color: #e9e9e9;
  transition: 0.5s;
  transform-origin: center;
}

.menu-tog.active span:nth-child(1) {
  position: absolute;
  transform: rotate(45deg);
}

.menu-tog.active span:nth-child(2) {
  position: absolute;
  transform: rotate(-45deg);
}




.menu {
  overflow: hidden;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e9e9e9;
  z-index: 1;
  opacity: 1;
  pointer-events: none;
  transform: translateY(120%);
  transition: 0.8s ease-out;
  display: flex;
  align-content: space-between;
  flex-wrap: nowrap;
  flex-direction: column-reverse;

}

.menu.active {
  background-color: #e9e9e9;
  transform: translateY(0%);
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  pointer-events: all;
  opacity: 1;
  display: flex;
  align-content: space-between;
  flex-wrap: nowrap;
  flex-direction: column;
}

.links {
  text-align: center;
  z-index: 10;
  width: auto;
  position: fixed;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}


.links ul {
  font-family: 'PP Writer';
  text-align: center;
  font-size: 6vw;
  line-height: 1;
  height: 20vh;
  display: flex;
  place-content: space-around center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding: 10px;
  gap: 20px;
  transition: 0.5s;
  overflow: visible;
}


.links ul li:hover {
  padding: 30px;
  transition: 0.5s;
}

.menu-wrap {

  transition: 0.5s;
  position: relative;
  overflow: hidden;

}

.menu-wrap a {
  padding: 0.5vw;
  display: block;

  transform: translateY(100%);

  transition: 0.5s;

}


.menu-wrap.active a {

  transform: translateY(0);
}

.menu-wrap span {
  font-size: 2.5vh;
  color: rgb(0, 0, 0);
}

.sofawrap {

  padding-top: 5%;
  display: flex;
  object-fit: fill;
  justify-content: center;
  visibility: visible;
  position: relative;
  width: 90vw;
  max-width: 600px;
  max-height: 700px;
  height: auto;
  z-index: 0;
  opacity: 1;
}


.sofa {
  opacity: 0.7;
  height: auto;
  width: 70%;
}

/* ENSAIOS */

.image-containerE {

  position: relative;
  width: 90%;
  height: fit-content;
  overflow: visible;
  flex-wrap: wrap;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  transition: 0.4s ease;

}


.image-containerA {
  position: relative;
  width: 90%;
  gap: 50px;
  height: fit-content;
  overflow: visible;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease;
}



.galerryimageE {

  width: auto;
  height: 24vw;
  min-height: 200px;
  position: relative;
  padding-top: 2%;
  padding-bottom: 5%;
}

.containerE {
  width: 100%;
  margin-top: 8vh;
  align-items: flex-start;
  justify-content: center;
  height: fit-content;
  -webkit-display: -webkit-box;
  -webkit-display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #000000;

  flex-direction: row;
  flex-wrap: wrap
}

.containerE:nth-child(even)>.image-containerE {
  justify-content: flex-end;
}

.containerE:nth-child(even)>.description {
  justify-content: flex-start;
  flex-direction: row-reverse;
}

.containerE:nth-child(odd)>.image-containerE {
  justify-content: flex-start;
}

.containerE:nth-child(odd)>.description {
  justify-content: flex-start;



}





@media (max-width: 600px) {
  .container {
    justify-content: center;
    gap: 15px;
  }

  .sofawrap {
    opacity: 0;
  }

  .galerryimage {
    height: 24vw;
    min-height: 250px;

  }
}

@media (max-width:600px) {

  .links ul {

    font-size: 60px;
  }

  .links ul:hover {
    padding: 0px;
  }

  .links ul li:hover {
    padding: 0px;

  }
}

@media (max-width: 600px) {

  .description {
    justify-content: space-between;
  }

  .title {
    font-size: 40px;
  }

  .hero-section {
    margin: 30vw;
    letter-spacing: 1px;
    font-size: 30px;
  }
}

@media (max-width:600px) {

  .cursor {
    display: none;
    width: 0;
    height: 0;
    outline: 0px solid #ffffff;
    pointer-events: none;
  }

  .cursor.active {
    display: none;
    width: 0;
    height: 0;
    outline: 0px solid #ffffff;
    pointer-events: none;
  }
}

@media (max-width: 600px) {

  .demo-1__header {

    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    border-bottom: #3b3b3b 1px solid;
    z-index: 15;
    position: relative;
    height: fit-content;
  }

  .favicon {
    min-width: 80px;
  }

  .menu-tog {
    mix-blend-mode: difference;
    position: relative;

    z-index: 1001;
    width: 60px;
    height: 40px;
    display: flex;
    flex-direction: column;
    cursor: none;
    gap: 20%;
    align-items: center;
    justify-content: center;


  }
}